/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

header {
    background-color: orange;
}

body {
    background-color: green;
}

footer {
    background-color: coral;
}