/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Style general body */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #3a3a3a;
}
header {
    background-color: #ffffff;
    /* To prevent the text from sticking to the side of the screen */
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
main {
    background-color: rgb(4, 41, 20);
    color: #ffffff;
    flex: 1 0 auto;
    margin-top: 47px;
}

h2 {
    margin: 0 1.5rem;
    margin-top: 20px;
}

img {
    width: 80%;
    margin: 30px;
}

p {
    text-align: center;
    padding: 0 1rem;
    letter-spacing: 2px;
}

/* About section */
#about-section h2 {
    text-align: center;
    margin-top: 20px;
}

#about-section p {
    font-size: large;
    text-align: left;
    margin: 15px;
}

/* Gallery */
#photos {
    line-height: 0;
    margin-top: 20px;
}

/* Video */
video {
    width: 80%;
    margin: 12px;

}


/* Form */
#signup {
    background-image: url(../images/manonliveyoga.jpg);
    height: 500px;
    width: 80%;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin: 30px;
    margin-top: 50px;
}

#signup-form {
    color: #fff;
    background-color: rgba(30, 40, 30, 0.6);
    height: 300px;
    padding: 20px;
    margin-top: 30px;
}

#submit {
    width: 60%;
    
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 80%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 1px solid cadetblue;
    border-radius: 2px;
    padding: 0 5px;

}

/* footer */
footer {
    background-color: #ffffff;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    h2, h3 {
        font-size: 200%;
        margin-top: 80px;
    }

    p {
        font-size: 160%;

    }

    #about-section h2 {
        margin-top: 60px;
    }

    #about-section p {
        font-size: 25px;
    }

        /* Gallery */
    #photos img {
        column-count: 3;
        line-height: 0;
        margin-top: 20px;

    }
    
        /* Video */
    video {
        width: 95%;
        
    
    }

        /* Form */
    #signup {
        width: 78%;
        left: 9.5%;
        padding: 75px;
        position: relative;
        top: 60px;
    }

    #signup h2 {
        font-size: 50px;
        margin: 40px;
    }

    #signup-form {
        margin-bottom: 50px;
    }

    .text-input {
        width: 50%;
        height: 50px;
    }

    #submit {
        font-size: 150%;
        width: 50%;
        height: 50px;
    }

    
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 1200px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;

    }

    #first-section > h2 {
        font-size: 400%;
        padding-left: 33%;
    }

    img {
        width: 60vh;
    }

    p, img {
        position: relative;
    }

    #first-section p {
        font-size: 200%;
        text-align: center;
        width: 30%;
        margin-left: 35%;
        bottom: 450px;
    }

    #second-section > h2 {
        font-size: 300%;
        position: relative;
        bottom: 430px;
        left: 320px;
    }

    #second-section p {
        bottom: 400px;
        width: 100%;
        left: 280px;
    }

    #second-section img {
        float: right;
        bottom: 1150px;
    }

    #third-image img {
        width: 80%;
        left: 8%;
        bottom: 320px;

        
    }

    #about-section {
        width: 90%;
    }

    #about-section > h2, #about-section > h3 {
        font-size: 90px;
        margin-top: 50px;
    }
    #about-section > p {
        font-size: 200%;
        margin-left: 140px;
    }

        #photos {
            width: 98%;
            column-count: 3;
            margin-top: 60px;
            margin-left: 50px;
        }

        video {
            width: 25%;
            margin-left: 110px;
        }

    #signup {
        margin-top: 60px;
        margin-left: 90px;
        }
    
    #signup-form {
        width: 20%;
        margin: 15px;
        }

        #signup h2 {
            font-size: 250%;
            margin: 30px;
        }

    .text-input {
        width: 100%;
    }
}